@page
@model exam_aspmvc.Models.ContactViewModel
@{}

@using (Html.BeginForm("Create", "Contact", FormMethod.Post))
{

    <div class="mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)

    </div>


    <div class="mb-3">
        @Html.LabelFor(m => m.Number)
        @Html.TextBoxFor(m => m.Number)
        @Html.ValidationMessageFor(m => m.Number)

    </div>

    <div class="mb-3">



        @Html.LabelFor(m => m.GroupName)
        @Html.TextBoxFor(m => m.GroupName)
        @Html.ValidationMessageFor(m => m.GroupName)


    </div>

    <div class="mb-3">



        @Html.LabelFor(m => m.HireDate)
        <input type="date" name="Birthday" />
        @Html.ValidationMessageFor(m => m.HireDate)


    </div>


    <div class="mb-3">



        @Html.LabelFor(m => m.Birthday)
        <input type="date" name="Birthday" />
        @Html.ValidationMessageFor(m => m.Birthday)


    </div>


    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save</button>

    </div>
}

