
@model List<exam_aspmvc.Entities.Contact>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

    //var categories = ViewBag.Categories


}

<title>@ViewData["Title"] Contact</title>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/exam_aspmvc.styles.css" asp-append-version="true" />




<h1>List Contact :</h1>



<a class="nav-link text-dark btn btn-primary" asp-area="" asp-controller="Product" asp-action="Create">Add Product</a>

@using (Html.BeginForm("Index", "Contact", FormMethod.Get, new { @class = "form-control" }))
{
    <div class="form-group">
        <input type="Text" class="form-control mx-sm-3" value="@ViewBag.Keyword" name="searchString" placeholder="Enter name contact">
        <button type="submit" class="btn btn-danger" value="Search">Search</button>
    </div>
    <hr />
}

<table class="table table-border  ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Group Name</th>
            <th scope="col">Hire date</th>
            <th scope="col">Birthday</th>





        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Number</td>
                <td>@item.HireDate</td>
                <td>@item.Birthday</td>


            </tr>
        }
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>






